/* ---Reset--- */

body,
a,
ul,
li {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
}

/* ---variables--- */
:root {
  --bg-color: #080705;
  --bg-color-two: #40434e;
  --link-color: #f00f0f;
  --link-hover-color: #c70909;
  --skin: #f18701;
  --gold: #f3ac01;
  --white: #fefefe;

  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Fira Sans", serif;
  --main-text-color: #080705;

  --white-space: 1rem;
  --m3: 3rem 3rem 3rem 0;
  --heading-1: 4vw;
}
/* --- based styles--- */

* {
  box-sizing: border-box;
  outline: 2px dotted red;
}

html {
  font-size: calc(1rem + ((1vw - 0.48rem) * 0.6944));
}

/* ---header--- */

header {
  display: grid;
  grid-template: 50% 50% / 1fr;
  background: rgba(0, 0, 0, 0.5) url(../images/background.png) no-repeat top;
  background-blend-mode: overlay;
  height: 30vw;
  place-items: center center;
}
.title_hp {
  width: 80%;
  }

.logo {
  max-width: 20vw;
}

h1 {
  font: var(--heading-1) var(--secondary-font);
  color: var(--white);
}

main {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 4vw;
  margin: 3vw 5vw;
}

.poster {
  max-width: 100%;
  /* margin: auto 1.3vw; */
}

p {
  font: 1.3vw var(--primary-font);
}

a {
  font-size: 0.8rem;
  color: var(--link-color);
}

footer .logo {
  margin: 2vw auto;
}
footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}
