/* ---Reset--- */

body,
a,
ul,
li {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
}

/* ---variables--- */

:root {
  --bg-color: #080705;
  --bg-color-two: #40434e;
  --link-color: #f00f0f;
  --link-hover-color: #c70909;
  --skin: #f18701;
  --gold: #f3ac01;
  --white: #fefefe;

  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Fira Sans", serif;
  --main-text-color: #080705;

  --white-space: 1rem;
  --m3: 3rem 3rem 3rem 0;
  --heading-1: calc(2rem + 1vw);
  --heading-2: bold calc(1rem + 6 * ((100vw - 320px) / 680));
  --heading-3: bold calc(1rem + 4 * ((100vw - 320px) / 680));
  --body-font-size: calc(1rem + 1 * ((100vw - 320px) / 680));
}
/* --- based styles--- */

* {
  box-sizing: border-box;
  /* outline: 2px dotted red; */
}

html {
  font-size: 100%;
}

/* ---header--- */

/* header {
  display: grid;
  background: rgba(0, 0, 0, 0.5) url(../images/background.png) no-repeat top;
  background-blend-mode: overlay;
  height: 60vh;
} */


header {
  display: grid;
  background: rgba(0, 0, 0, 0.5) url(../images/background.png) no-repeat top;
  background-blend-mode: overlay;
  background-size: cover;
  height: 50vh;
}

header .logo {
  place-self: start;
  margin: 2rem 0 0 2rem;
  grid-area: 1 / 1 / 2 / -1;
  max-width: 20vw;
}

h1 {
  font: var(--secondary-font);
  font-size: 3rem;
  color: var(--white);
  margin: 3rem 0 0 2rem;
  grid-area: 1 / 1 / -1/-1;
  place-self: center;
}

/* ----main----- */
main {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 4vw;
  margin: 2rem 3rem;
}

h2 {
  font: var(--heading-2) var(--secondary-font);
}

h3 {
  font: var(--heading-3) var(--secondary-font);
}

.poster {
  max-width: 100%;
}

h3 {
  font: var(--primary-font);
  color: var(--bg-color);
}
article:first-child {
  color: var(--bg-color-two);
}
h2 {
  font: 2vw var(--primary-font);
}

p {
  font: var(--body-font-size) var(--primary-font);
}

article a {
  font-size: var(--body-font-size);
  color: var(--link-color);
}

article a:hover {
  color: var(--link-hover-color);
  transition: 1.5s;
}

dl {
  grid-area: 1/ 3 / 1 / -1;
  place-self: center;
  font-size: var(--body-font-size);
}

dt {
  padding-top: 1.5vw;
  font: var(--heading-3) var(--secondary-font);
}

dd {
  font-size: var(--body-font-size);
}
.storyline {
  grid-area: 2 / 1 / 2 / -1;
}

/* ----footer---- */

footer {
  margin: 2vh 3vw;
  font-size: var(--body-font-size);
}

footer .logo {
  max-width: 15vw;
  margin-top: 6vh;
}

footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  margin: 5vh auto 2vh auto;
}

footer a {
  color: var(--main-text-color);
}

#copyRight {
  display: inline;
  margin: auto 40%;
}

@media screen and (max-width: 1024px) {
  .poster {
    grid-template-columns: 1 / -1;
    place-self: center;
  }
  .movie_info {
    grid-area: 2 / 1 / 2 / -1;
  }

  .storyline {
    grid-area: 3 / 1 / 3 / -1;
  }
}
